body {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

#calendar {
  margin-top: 4px;
  font-size: 16px;
  display: flex;
  display: inline;
  justify-content: end;

}
#settings {
  margin-top: 4px;
  font-size: 16px;
  display: flex;
  display: inline;
  justify-content: end;
}

#todaysDate {
  text-align: center;
  color: #26bba6;
  text-transform: uppercase;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 8px;
}

#add {
  background-color: white;
  border: none;
  color: #26bba6;
  display: block;
  margin: auto;
/*Below adds a drop shadow effect*/
  /* text-shadow: 1px 1px 0 rgb(223, 227, 229), 4px 4px 0 rgba(0, 0, 0, 0.25);
  color: #26bba6 */
}

#add:hover {
  color:#dfdfdf;
  outline: none;
}

#calendar {
  background-color: white;
  border: none;
  color: #BCC4C0;
  display: inline;
}

#calendar:hover {
  color:#dfdfdf;
  outline: none;
}

#settings {
  background-color: white;
  border: none;
  color: #BCC4C0;

}

#settings:hover {
  color:#dfdfdf;
  outline: none;
}

#total {
  margin: 4px;
}

/*Editing Page CSS*/
#back {
  color: #26bba6;
  margin: 4%;
}

.editing-options {
  color: #BCC4C0;
  display: flex;
  justify-content: space-around;
  max-width: 400px;
  margin: 0 auto;
}

#retake:hover {
  color: #dfdfdf;
}

#delete:hover {
  color: #d7d7d7;
}
/*Done w editing page navigation*/

.navigation {
  display: flex;
  justify-content: space-around;
  max-width: 60px;
}

#placeholder-img {
  max-width: 400px;
  margin: 0 auto;
}

/*Removing ugly blue border after clicking icons*/
a:focus {
  outline: none;
}

button:focus {
  outline: none;
}

/* COMMENCE INDECISIVENESS*/
/* For buttons to change color when clicked, should I use :active, :focus, or :hover?  */

/* Trying grid-template-columns which is supposed to be cool */
.boxes {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(140px, 1fr)); */
  grid-template-columns: 1fr 1fr; /*maybe start with this instead of the minmax thing*/
  grid-gap: 8px;
  grid-template-rows: auto;
  /* object-fit: cover;  --- put this if images are stretching out gross*/
  /* height: 200px; */

  /* below is for iphone x, make a media query. also move cal total to the right! */
/*
  margin: 27px;
  margin-top: 0px;
  margin-bottom: 0px; */

}

.food-picture {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 4px;
}

section {
  background-color: #dfdfdf;
  height: 148px;
  border-radius: 4px;
}


/*Below are abandoned media queries I can't let go of yet*/
/* Media Queries Zone  */
/* Media query for iphone x -- MOBILE M */
/* @media screen and (min-width: 375px) {
  .boxes {
    margin: 27px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  body {
    margin: 8px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  #total {
    margin-right: 27px;
  }

  .navigation {
    margin-left: 27px;
  }
}

@media screen and (min-width: 425px) {
  .boxes {
    margin: 33px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  body {
    margin: 27px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  #total {
    margin-right: 33px;
  }

  .navigation {
    margin-left: 33px;
  } */


  /* Total and navigation margins should match margin of .boxes */

  /* @media screen and (min-width: 500px) {
    .boxes {
      margin: 0px;
      margin-top: 0px;
      margin-bottom: 0px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr; /*maybe start with this instead of the minmax thing*/
      /* grid-gap: 8px;
      grid-template-rows: auto;
    }

    body {
      margin: 20px;
      margin-top: 0px;
      margin-bottom: 0px;
    }

    #total {
      margin-right: 0px;
    }

    .navigation {
      margin-left: 0px;
    } */ */


  /* 426px is when i want it to go 3 boxes wide. idk how to alter the HTML and do that? or might have to use flex wrap */
  /*maybe just apply these to the whole body and not just .boxes. so cals and nav aligns*/
}


/*Trying a new way to make boxes. Everything above here is previous code. I'll clean it up later*/
/* After doing the whole entire section below, I realize I could've just used img width: 50% float: left ... ok great */

* {
  box-sizing: border-box;
}

body {
  background: #ffffff;
  border: 0px;
}

.shoebox {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  grid-gap: 8px;
}

img {
  display: block;
  width: 100%;
  border-radius: 4px;
}

div .box{
  position: relative;
  display: inline-block;
}

div .cals {
  position: absolute;
  bottom: 4%;
  right: 4%;
  color: #26bba6;
  background-color: white;
  border-radius: 4px;
  padding: 0px 2px;
  font-size: 16px;
  font-weight: bold;
}

div .time {
  position: absolute;
  top: 2%;
  left: 2%;
  color: white;
  text-shadow: -1px 1px 2px #3D4849;
  border-radius: 4px;
  padding: 0px 2px;
  font-size: 16px;
}

/*Editing Page CSS*/
.entry {
  display: grid;
  /* display: flex; */
  margin: 5% 10%;
  margin-top: 50px;
  max-width: 400px;
}

main {
  display: grid;
  justify-items: center;
}










/*MEDIA QUERIES ONLY below - some are broken. can't close them with curly braces or it messes EVERYTHING up. By everything I mean the alignment of the grid and boxes.*/

/* IPhone x media query */
@media screen and (min-width: 375px) {
  .shoebox {
    margin: 0px 27px;
  }

  #total {
    margin-right: 27px;
  }

  .navigation {
    margin-left: 27px;
  }


/*MEDIA QUERY TIME*/
@media screen and (min-width: 600px) {
  * {
      box-sizing: border-box;

  }
  body {
    background: #ffffff;
    border: 0px;
}
  .shoebox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 8px;
    margin: 0px 8%;
  }
  img {
    display: block;
    width: 100%;
    border-radius: 4px;
  }

  #total {
    margin-right: 8%;
  }

  .navigation {
    margin-left: 8%;
  }
}


@media screen and (min-width: 900px) {
  .shoebox {
    margin: 0px 24%;
  }
  #total {
    margin-right: 24%;
  }

  .navigation {
    margin-left: 24%;
  }
}


/*iPad media queries*/
@media only screen
and (min-width : 768px)
and (max-width : 1024px)
and (orientation : portrait) {
  .shoebox{
    grid-template-columns: 1fr 1fr;
}


