body {
  background: #fff;
  font-family: "Lato", sans-serif;
  font-size: 20px;
}

canvas {
  display: none;
}

#calendar {
  background-color: white;
  border: none;
  color: #bcc4c0;
  font-size: 16px;
}

#settings {
  background-color: white;
  border: none;
  color: #bcc4c0;
  font-size: 16px;
  margin-top: 3px;
}

#todaysDate {
  color: #26bba6;
  font-family: "Nunito", sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 8px;
  text-align: center;
  text-transform: uppercase;
}

#add {
  background-color: white;
  border: none;
  color: #26bba6;
}

#calendar:hover,
#settings:hover,
#add:hover {
  color: #dfdfdf;
  outline: none;
}

#back {
  color: #26bba6;
  margin: 4%;
}

#take-pic {
  color: #26bba6;
  border: none;
  background: white;
  padding: 0;
}

.cal-input-box {
  display: flex;
  justify-content: space-around;
  margin: 8px 8px;
}

input[type="number"] {
  font-size: 20px;
  text-indent: 10px;
  width: 150px;
  height: 32px;
  letter-spacing: 4px;
  margin-left: 8px;
}

::placeholder {
  font-size: 18px;
  text-indent: 10px;
  font-style: italic;
  letter-spacing: 4px;
}

.navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 290px;
  margin-top: 22px;
}

button:focus {
  outline: none;
}

* {
  box-sizing: border-box;
}

.shoebox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
}

img {
  border-radius: 4px;
  display: block;
  object-fit: cover;
  width: 100%;
}

div .box {
  border-radius: 4px;
  display: inline-block;
  overflow: hidden;
  position: relative;
}

div .cals {
  background-color: #fff;
  border-radius: 4px;
  bottom: 4%;
  color: #26bba6;
  font-size: 16px;
  font-weight: bold;
  padding: 0 2px;
  position: absolute;
  right: 4%;
}

div .time {
  border-radius: 4px;
  color: white;
  font-size: 16px;
  left: 15%;
  padding: 0 2px;
  position: absolute;
  text-shadow: -1px 1px 2px #3d4849;
  top: 2%;
}

.fa-trash-alt {
  color: white;
  left: 2%;
  padding: 0 2px;
  position: absolute;
  text-shadow: -1px 1px 2px #3d4849;
  top: 3%;
}

main {
  display: grid;
  justify-items: center;
}

/* Modal classes */
.modal-bg {
  align-items: start;
  background: rgba(78, 78, 78, 0.6);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: 0.1s ease-in;
  visibility: hidden;
  width: 100%;
}

.modal {
  background-color: white;
  border-radius: 4px;
  margin-top: 47px;
}

.is-showing {
  visibility: visible;
  opacity: 1;
}


.calendar-modal-bg {
  align-items: start;
  background: rgba(78, 78, 78, 0.6);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: 0.1s ease-in;
  visibility: hidden;
  width: 100%;
}

#calendar-img {
  height: 100%;
}
.calendar-modal {
  background-color: white;
  border-radius: 4px;
  margin-top: 47px;
  height: 366px;
  width: 237px;
}

.calendar-is-showing {
  visibility: visible;
  opacity: 1;
}

#total {
  margin: 4px;
  font-size: 24px;
  color: #3d4849;
  font-family: "Nunito", sans-serif;
}

#total-box {
  display: flex;
  justify-content: flex-end;
  width: 290px;
}

/* Small phones */
@media screen and (min-width: 320px) {
  img {
    height: 140px;
  }

  div .box {
    width: 140px;
    height: 140px;
  }
}

/* Medium phones */
@media screen and (min-width: 375px) {
  .navigation {
    width: 336px;
  }

  /* Video booth on android */
  .booth {
    height: 280px;
    overflow: hidden;
    width: 280px;
    display: flex;
    align-items: center;
  }

  #video {
    width: 280px;
  }

  img {
    height: 162px;
  }

  div .box {
    width: 162px;
    height: 162px;
  }

  #total-box {
    width: 336px;
  }
}

@media screen and (min-width: 600px) {
  .shoebox {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  img {
    height: 210px;
  }

  div .box {
    height: 210px;
    width: 210px;
  }

  #total-box {
    width: 650px;
  }

  .navigation {
    width: 650px;
  }

  /* Video booth on large screens */
  .booth {
    height: 280px;
    overflow: hidden;
    text-indent: -50px;
    width: 280px;
    display: flex;
    justify-content: center;
  }

  #video {
    width: 380px;
  }
}

@media screen and (min-width: 900px) {
  .shoebox {
    margin: 0 24%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .shoebox {
    grid-template-columns: repeat(2, 1fr);
  }

  #total-box {
    width: 432px;
  }

  .navigation {
    width: 432px;
  }
}
